<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crawling Data</title>
    <style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
    </style>
</head>
<body>
    <h1>Collection Data From Vnexpress.net</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <td><strong>Article News</strong></td>
                <td><strong>Link News</strong></td>
                <td><strong>Source</strong></td>
            </tr>
        </thead>
        <tbody>
            <% records.forEach(function(record) { %>
                <tr class="active-row">
                  <td><%= record.title %></td>
                  <td><a href="<%= record.url %>"><%= record.url %></a></td>
                  <td><%= record.source %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>